{#
/**
 * @file
 * post info pattern.
 */
#}

{% set groupclass = '' %}
{% if group_url and author_pic_uri %}
  {% set groupclass = 'post-info--group' %}
{% else %}
  {% set groupclass = 'post-info--no-group' %}
{% endif %} 

{% set mainpic = '' %}
{% set subpic = '' %}

{% if author_pic %}
  {% set mainpic = author_pic %}
{% else %}
  {% set mainpic = group_logo %}
{% endif %}  

<div class="post-info {{ groupclass }} clearfix">
  <div class="post-info__ilustration">
  {# link to the user profile wrapped around the user image #}
    {% if login_check and author_pic_uri %} 
      <a href="{{ profile_uri }}" class="post-info__link post-info__link--account"><img src="{{ author_pic_uri }}" alt="{{ profile_name }}" class="post-info__picture post-info__picture--account responsive" /></a>

      
      
    {% else %} 
      <img src="{{ author_pic_uri }}" alt="{{ profile_name }}" class="post-info__picture post-info__picture--account responsive" />
    {% endif %}
    {% if group_url %}
      <a href="{{ group_url }}" class="post-info__link post-info__link--group">{{ group_logo }}</a>
    {% endif %} 
  </div>
  <div class="post-info__details">
    <h4 class="post-info__author">   
    {% if creation_date %}
      {% trans %} by {% endtrans %}
    {% endif %}
    {% if login_check %}  
      <a href="{{ profile_uri }}" class="post-info__link post-info__account-link">{{ profile_name }}</a>
    {% else %} 
       {{ profile_name }} 
    {% endif %}      
    </h4>
    <p class="post-info__metadata">
      {% if creation_date %}
        {% trans %} Posted {{ creation_date }} {% endtrans %}
      {% endif %}    
      {% if group_url %}
        {% trans %} in {% endtrans %} <a href="{{ group_url }}" class="post-info__link post-info__group-link">{{ group_name }}</a>
      {% endif %}
    </p>
  </div>
</div>