{#
/**
* @file
* post info pattern.
*/
#}
<div class="post-info {{ container_class }} clearfix">
    <div class="post-info__ilustration">
        {% if logged_in %}
        <a href="{{ url }}" class="post-info__link post-info__link--account">
        {% endif %}

        <img src="{{ image_url }}" alt="{{ title }}" class="post-info__picture post-info__picture--account responsive" />

        {% if logged_in %}
        </a>
        {% endif %}

        {{ subpic }}
    </div>
    <div class="post-info__details">
        <h4 class="post-info__author">
            {% if logged_in %}
                <a href="{{ url }}" class="post-info__link post-info__account-link">
                    {{ title }}
                </a>
            {% else %}
                {{ title }}
            {% endif %}
        </h4>
        {% if context_text %}
            <p class="post-info__metadata">
                {{ context_text | raw }}
            </p>
        {% endif %}
    </div>
</div>
